html, body
{
    height: 100%;
}

.App {
  margin: auto;
  text-align: center;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.ant-pagination-item-active {
  font-weight: 500;
  border-color: #1890ff !important;
  background: #407EFF !important;
  color: white !important;
}

.ant-pagination-item-active:focus a {
  color: white !important;
}

.ant-pagination-item {
  color: #222;
}

.active {
  background-color: #1F2430;
}

.ant-switch {
  background-color: #F54745 !important;
}

.ant-switch-checked {
  background-color: #72B59B !important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-message, .ant-popover {
  z-index: 2000 !important;
}
